/* 
    Fonts
Oswald - header
Caveat - rukopis
Press Start 2P - 80s písmo
Special Elite - psací stroj
Lato - základní písmo
*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Oswald&display=swap');
/* Roots */
:root {
    /* Paddings */
    --padding-p: 10px;
    /* Fonts */
    --body-f: 'Lato', sans-serif;
    --header-f: 'Oswald', serif;
    --handwriting-f: 'Caveat', sans-serif;
    --typewriter-f: 'Special Elite', monospace;
    /* Font properties */
    --body-f-s: 100%;
    --header-f-s: 2.0em;
    --handwriting-f-s: 120%;
    /* Colors */
    --bg: #2F333C;
    --bg_paper: #21252E;
    --text: #F8F8F8;
    --shadow: #424248;
    --accent: #EB6123;
}

body {
    padding: var(--padding-p);
    font-family: var(--body-f);
    font-size: var(--body-f-s);
    background-color: var(--bg);
    color: var(--text);
}

header {
    font-family: var(--header-f);
    font-size: var(--header-f-s);
    position: relative;
}

header h1 {
    margin-top: 20px;
    margin-bottom: 0;
    position: relative;
    animation-name: header;
    animation-duration: 1s;
}

header h2 {
    font-family: var(--typewriter-f);
    font-size: 1.0em;
    margin-top: 0;
    position: relative;
    animation-name: header;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: 0.5s;
}
header a:hover,
header a {
    color: var(--accent);
    text-shadow: var(--shadow) 2px 1px;
    background: transparent;
    text-decoration: none;
}
footer {
    clear: left;
    font-size: 70%;
    text-align: center;
    font-family: var(--typewriter-f);
    animation-name: error;
    animation-duration: 2s;
}
#yomum,
#yomum:visited,
#yomum:hover,
#yomum:focus {
    font-family: var(--body-f);
    color: var(--text);
    background-color: transparent;
    text-decoration: none;
    cursor: auto;
    animation: none;
}
::-moz-selection{ 
    background: var(--accent);
    color: var(--text);
}
::selection {
    background: var(--accent);
    color: var(--text);
}
::-webkit-scrollbar {
    width: 9px;
    background: transparent;
}
   
::-webkit-scrollbar-track {
    background: var(--bg_paper);
}
   
::-webkit-scrollbar-thumb {
    background: var(--accent);
    border: none;
}
/* NAV */
nav {
    position: sticky;
    width: 100%;
}
nav ul {
    background-color: var(--bg);
    list-style: none;
    padding-left: 0;
}
nav ul li:nth-child(odd):not(nav ul li:hover *) {
    animation: navigation-odd 2s;
}
nav ul li:nth-child(even):not(nav ul li:hover *) {
    animation: navigation-even 2s;
}
nav li {
    position: relative; 
    display: inline-block;
}
nav ul ul li {
    display: block;
} 
nav ul ul {
    background-color: var(--bg_paper);
    display: none; 
    width: 150px;      
}
nav li:hover ul {
    display: block; 
    position: absolute; 
    z-index: 100; 
}                 
nav a {
    text-decoration: none;
    color: var(--text);
    display: block;
    padding: 4px 8px;
}
nav a:hover {
    background-color: var(--accent);
}
nav a.aktivni { 
    background-color: var(--bg);
    color: var(--text);  
}
/*------*/
div.images {
    float: right;
    border: 1px var(--accent) solid;
    text-align: center;
    padding: 20px;
    margin: 20px;
    margin-top: 0;
    display: block;
    position: relative;
    background-color: var(--bg_paper);
}
div.images p {
    border-top: var(--accent) 1px solid;
}
div.pribeh {
    font-family: var(--handwriting-f);
    font-size: var(--handwriting-f-s);
    padding: 10px;
    background-color: var(--bg_paper);
    width: 70%;
    margin:0 auto;
    box-shadow: 2px 0 0 0.5px var(--shadow);
    border-right: var(--accent) 4px solid;
    border-left: var(--accent) 4px solid;
}
.foto {
    float: left;
    border: 1px solid var(--accent);
    padding: 3px;
    padding: 12px 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 320px;
    height: 280px;
    text-align: center;
    background-color: var(--bg_paper);
}
.foto p {
    font-size: 85%;
    text-align: center;
    border-top: var(--accent) 1px solid;
}
.foto img {
    transition: transform .2s;
    cursor: zoom-in;
}
.foto img:hover {
    transform: scale(1.3);
    cursor: zoom-in;
} 
h2, h3 {
    font-family: var(--header-f);
    color: var(--accent);
}
footer,
.typewriter {
    font-family: var(--typewriter-f);
    animation-name: error;
    animation-duration: 2s;
}
/* I hate tables. Like, really. What the hell. */
table, th, td {
    margin: 0 auto;
    border: 1px var(--accent) solid;
    background-color: var(--bg_paper);
}
table {
    width: 80%;
}
td {
    padding: 5px;
}
td:not(:nth-child(4)) {
    text-align: center;
}
col.col-one {
    width: 10%;
}
col.col-two,
col.col-three {
    width: 20%;
}
col.col-four {
    width: 50%;
}
a {
    color:var(--accent);
}
a::selection {
    color: var(--bg);
}
a::-moz-selection {
    color: var(--bg);    
}
a:not(header h1 a):hover {
    animation-name: hovering;
    animation-duration: 0.5s;
    background-color: var(--accent);
    color:var(--text);
}
@keyframes header {
    0% {
        opacity: 0;
        left:1000px;
    }
    100% {
        opacity: 1;
        left:0;
    }
}
@keyframes hovering {
    0% {
        background-color: var(--bg);
        color:var(--accent);
    }
    100% {
        background-color: var(--accent);
        color:var(--text);
    }
}
@keyframes error {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes navigation-odd {
    0% {
        top: -1000px;
    }
    100% {
        top: 0;
    }
}
@keyframes navigation-even {
    0% {
        top: 1000px;
    }
    100% {
        top: 0;
    }
}
@font-face {
    font-family: 'Special Elite';
    src: url("fonts\SpecialElite.ttf") format("truetype");
    src: url("fonts\SpecialElite.woff") format("woff");
    src: url("fonts\SpecialElite.woff2") format("woff2");
}
@font-face {
    font-family: 'Lato';
    src: url("fonts/Lato.ttf") format("truetype");
}